.background {
background: url('img/bg.JPG') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height:800px;
  margin:0px;
  width:100%;
  padding:0px;
}
#logo {
  width:200px;
  position:fixed;
  top:50px;
  left:100px;
}
.dugme {
  font-family: 'Montserrat', sans-serif;
  padding:5px 10px;
  /* border:1px solid #fff; */
  box-shadow:none;
  outline:none;
  border:none;
  background:#000;
  text-decoration:none;
  color:#fff;
  margin-left:100px;
  margin-top:400px;
  position:fixed;

}
.dugme:hover{
  color:#fff;
  text-decoration:none;
  border:none;

}
.social-footer {
  height:110px;
  width:100%;
  /* margin:0px;
  padding:0px; */
  padding-top:5px;
  padding-bottom:5px;
  background:rgb(27, 27, 27);
}
@media only screen and (max-width: 500px) {
  .social-footer {
    height:210px;
    padding-top:5px;
    padding-bottom:5px;
  }
}
.social-row {
  margin:0px;
  padding:0px;
}


.link {
  font-size:22px;
  margin:0px;
  color:#fff;
  text-align:center;

}
.link:hover {
  text-decoration:none;
  color:#000;
}
